body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(29, 35, 51);
    color: rgb(158, 34, 34);
  }
  
  
  p {
    text-align: left;
    font-size: large;
    padding: 1rem;
   
   
  }

  main {
    text-align: center;
    border: 1px solid white;

    height: 100%;
  }
  