:root {
  --Gray: rgb(224, 206, 223);
  --fontblack: rgb(20, 18, 18);

}

body {
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  
  background-color: var(--Gray);
  color: var(--fontblack);
}


p {
  text-align: center;
  font-size: large;
  padding: 1rem;
  font-family: cursive;
}

main {


  text-align: center;
  border: 1px solid rgb(43, 2, 41);

}

